@font-face {
  font-family: 'NicoMoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/NicoMoji-Regular.woff2") format("woff2")
}
 
@font-face {
  font-family: 'Niramit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/Niramit-SemiBold.woff2") format("woff2")
}
