:root {
  // Шрифты
  --font-main: "Roboto", sans-serif; // 1 шрифт на странице
  --font-second: "NolanHeavyItalic", sans-serif; // 2 шрифт на странице

  // Контейнер
  --container-width: 1215px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #151515; // бекграунд страницы
  --main: #ffffff;
  --black: #000000;
  --white: #ffffff;
  --orange: #FF7A00;
  --l-dark: #212121;
  --input: #262626;
  --gray: #505050;

  --hover: #c05d00; // цвет при ховере
  --active: #c05d00; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  color: var(--main);
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tx-17 {
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
}

.tx-23 {
  font-weight: 500;
  font-size: 23px;
  line-height: 140%;
}

.tt-64-40 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;

  @media (max-width: 1440px) {
    font-size: 58px;
  }

  @media (max-width: 1220px) {
    font-size: 52px;
  }

  @media (max-width: 991px) {
    font-size: 46px;
  }

  @media (max-width: 600px) {
    font-size: 40px;
  }
}

.tt-53-36 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 53px;
  line-height: 120%;

  @media (max-width: 1220px) {
    font-size: 48px;
  }

  @media (max-width: 991px) {
    font-size: 42px;
  }

  @media (max-width: 600px) {
    font-size: 36px;
  }
}

.input {
  display: block;
  padding: 0 24px;
  border-radius: 25px;
  width: 100%;
  height: 58px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1;
  border: 2px solid transparent;
  background-color: var(--input);
  color: var(--white);
  transition: border-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--hover);
    }
  }

  &:focus-visible {
    border-color: var(--hover);
  }

  &::placeholder {
    opacity: .4;
  }
}

.but {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  background-color: var(--orange);
  width: fit-content;
  border-radius: 20px;
  padding: 15px 35px;
  min-width: 145px;
  min-height: 56px;
  transition: background-color .3s ease-in-out;

  & img {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    object-fit: contain;
    object-position: center;
  }

  &_gray {
    border-radius: 33px;
    padding: 5px 45px;
    min-height: 36px;
    background-color: var(--gray);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}