@font-face {
  font-family: 'Roundedmplus1c';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Roundedmplus1c-Regular.woff2") format("woff2")
}
 
@font-face {
  font-family: 'Roundedmplus1c';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Roundedmplus1c-Medium.woff2") format("woff2")
}