@font-face {
  font-family: 'Peralta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Peralta-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Arimo-Regular.woff2") format("woff2")
}
