@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Merriweather-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Quicksand-Regular.woff2") format("woff2")
}