* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: inherit
}

input::placeholder,
textarea::placeholder {
  color: inherit
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block;
  color: inherit
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=number] {
  -moz-appearance: textfield
}

@font-face {
  font-family: Play;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Play-Regular.woff2) format("woff2")
}

@font-face {
  font-family: Play;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Play-Bold.woff2) format("woff2")
}

:root {
  --font-main: "Play", sans-serif;
  --container-width: 1120px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #fff;
  --main: #000000;
  --black: #000000;
  --white: #ffffff;
  --cor: #543c38;
  --dark: #2a2a2a;
  --light: #f1f1f1;
  --linear: linear-gradient(180deg, rgba(153, 153, 153, 0) 0%, #fff 100%);
  --hover: #6e3d34;
  --active: #6e3d34
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  color: var(--main);
  background-color: var(--background-page)
}

.page_change .terms {
  margin-bottom: 47px
}

.page_change .nav__link_header {
  color: var(--main)
}

@media (max-width:991px) {
  .page_change .nav__link_header {
    color: var(--white)
  }
}

@media (any-hover:hover) {
  .page_change .nav__link_header:hover {
    color: var(--hover)
  }
}

.page_change .nav__link_header:focus-visible {
  color: var(--hover)
}

.page_change .nav__link_header:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}

.page_change .header {
  position: static
}

.page_change .burger span {
  background-color: var(--black)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.tx-17 {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%
}

.tx-20 {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%
}

.tt-64-36 {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%
}

@media (max-width:1440px) {
  .tt-64-36 {
    font-size: 58px
  }
}

@media (max-width:1220px) {
  .tt-64-36 {
    font-size: 52px
  }
}

@media (max-width:991px) {
  .tt-64-36 {
    font-size: 44px
  }
}

@media (max-width:600px) {
  .tt-64-36 {
    font-size: 36px
  }
}

.tt-53-36 {
  font-weight: 700;
  font-size: 53px;
  line-height: 120%
}

@media (max-width:1220px) {
  .tt-53-36 {
    font-size: 48px
  }
}

@media (max-width:991px) {
  .tt-53-36 {
    font-size: 44px
  }
}

@media (max-width:600px) {
  .tt-53-36 {
    font-size: 36px
  }
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--main);
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 5px solid var(--cor);
  border-radius: 30px;
  padding: 13px 42px;
  min-width: 167px;
  min-height: 52px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (max-width:991px) {
  .but {
    padding: 13px 24px
  }
}

@media (max-width:374px) {
  .but {
    padding: 10px
  }
}

@media (any-hover:hover) {
  .but:hover {
    background-color: var(--hover)
  }
}

.but:focus-visible {
  background-color: var(--hover)
}

.but:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}

.input {
  display: block;
  padding: 0 28px;
  border-radius: 30px;
  width: 100%;
  height: 58px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--black);
  border: 2px solid transparent;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

@media (any-hover:hover) {
  .input:hover {
    border-color: var(--hover)
  }
}

.input:focus-visible {
  border-color: var(--hover)
}

.input::-webkit-input-placeholder {
  opacity: .5
}

.input::-moz-placeholder {
  opacity: .5
}

.input:-ms-input-placeholder {
  opacity: .5
}

.input::-ms-input-placeholder {
  opacity: .5
}

.input::placeholder {
  opacity: .5
}

.header {
  padding: 24px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 45px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px
  }
}

.nav__list_footer {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

@media (max-width:991px) {
  .nav__list_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 10px 32px
  }
}

.nav__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

.nav__link_main {
  color: var(--main)
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 21px;
  height: 10px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 3px;
  height: 100%;
  background-color: var(--white)
}

.terms {
  padding: 80px 0 0 0
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.hero {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.hero:not(:last-child) {
  margin-bottom: 47px
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: var(--linear);
  z-index: 2
}

.hero__container {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 783px
}

@media (max-width:600px) {
  .hero__container {
    min-height: 658px
  }
}

.hero__title {
  color: var(--white);
  text-align: center
}

.about:not(:last-child) {
  margin-bottom: 47px
}

.about__title {
  text-align: center
}

.about__title:not(:last-child) {
  margin-bottom: 16px
}

.about__texts {
  width: 100%
}

.about__texts:not(:last-child) {
  margin-bottom: 16px
}

.about__text {
  text-align: center
}

.about__text:not(:last-child) {
  margin-bottom: 8px
}

.about__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 24px 32px
}

.about__images:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:991px) {
  .about__images {
    gap: 20px
  }
}

@media (max-width:600px) {
  .about__images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.about__images_gemak {
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[3];
  grid-template: auto/repeat(3, 1fr)
}

@media (max-width:991px) {
  .about__images_gemak {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[2];
    grid-template: auto/repeat(2, 1fr)
  }
}

@media (max-width:600px) {
  .about__images_gemak {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.about__image {
  width: 100%;
  height: 421px
}

@media (max-width:991px) {
  .about__image {
    height: 360px
  }
}

@media (max-width:600px) {
  .about__image {
    height: 300px
  }
}

@media (max-width:400px) {
  .about__image {
    height: 220px
  }
}

.about__image_enter {
  height: 374px
}

@media (max-width:991px) {
  .about__image_enter {
    height: 320px
  }
}

@media (max-width:600px) {
  .about__image_enter {
    height: 260px
  }
}

@media (max-width:400px) {
  .about__image_enter {
    height: 228px
  }
}

.about__image_gemak {
  height: 338px
}

@media (max-width:600px) {
  .about__image_gemak {
    height: 328px
  }
}

.about__image img {
  border-radius: 30px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.about__link {
  margin-left: auto
}

.disk {
  background-color: var(--cor);
  padding-top: 70px;
  padding-bottom: 40px
}

@media (max-width:991px) {
  .disk {
    padding-bottom: 40px;
    padding-top: 40px
  }
}

@media (max-width:600px) {
  .disk {
    padding-bottom: 70px;
    padding-top: 56px
  }
}

.disk__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 24px 32px
}

@media (max-width:991px) {
  .disk__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}

.disk__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 594px;
  flex: 0 1 594px;
  width: 100%
}

@media (max-width:991px) {
  .disk__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.disk__title {
  color: var(--white)
}

.disk__title:not(:last-child) {
  margin-bottom: 16px
}

.disk__texts {
  width: 100%
}

.disk__text {
  color: var(--white)
}

.disk__text:not(:last-child) {
  margin-bottom: 8px
}

.form {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 352px;
  flex: 0 1 352px
}

@media (max-width:991px) {
  .form {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.form__inputs {
  width: 100%
}

.form__inputs:not(:last-child) {
  margin-bottom: 11px
}

.form__input:not(:last-child) {
  margin-bottom: 11px
}

.form__button {
  color: var(--white);
  border-color: var(--white)
}

.footer {
  background-color: var(--dark);
  padding-top: 66px;
  padding-bottom: 62px
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 24px 32px
}

@media (max-width:991px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.footer__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 449px;
  flex: 0 1 449px;
  width: 100%
}

@media (max-width:991px) {
  .footer__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.footer__title {
  color: var(--white)
}

.footer__title:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .footer__title:not(:last-child) {
    margin-bottom: 26px
  }
}

@media (max-width:600px) {
  .footer__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.footer__address {
  width: 100%;
  font-style: normal
}

.footer__address:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .footer__address:not(:last-child) {
    margin-bottom: 26px
  }
}

@media (max-width:600px) {
  .footer__address:not(:last-child) {
    margin-bottom: 20px
  }
}

.footer__info {
  width: 100%
}

.footer__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--white)
}

.footer__info-item:not(:last-child) {
  margin-bottom: 16px
}

.footer__info-item a {
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__info-item a:hover {
    color: var(--hover)
  }
}

.footer__info-item a:focus-visible {
  color: var(--hover)
}

.footer__info-item a:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}

.footer__info-item img {
  display: block;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__bottom {
  width: 100%
}

.footer__map {
  border-radius: 30px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 544px;
  flex: 0 1 544px;
  height: 430px;
  width: 100%;
  overflow: hidden
}

@media (max-width:991px) {
  .footer__map {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 300px
  }
}

@media (max-width:600px) {
  .footer__map {
    height: 228px
  }
}

.footer__map iframe {
  width: 100%;
  height: 100%
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 27px
}

.icons:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .icons:not(:last-child) {
    margin-bottom: 26px
  }
}

@media (max-width:600px) {
  .icons:not(:last-child) {
    margin-bottom: 20px
  }
}

.icons__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 42px;
  flex: 0 0 42px;
  height: 42px
}

.icons__icon a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}

@media (any-hover:hover) {
  .icons__icon a:hover {
    opacity: .5
  }
}

.icons__icon a:focus-visible {
  opacity: .5
}

.icons__icon a:active {
  opacity: .5;
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}

.icons__icon a img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.cookie {
  width: 100%
}

.cookie__text {
  opacity: .5;
  color: var(--white)
}

.cookie__text:not(:last-child) {
  margin-bottom: 24px
}

.cookie__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 24px 32px
}

.cookie__war {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 63px;
  flex: 0 0 63px;
  height: 63px
}

.cookie__war img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}