.about {
  margin-bottom: 80px;

  @media (max-width: 600px) {
    margin-bottom: 70px;
  }

  &__title {
    font-family: 'lalezar';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 117.7%;
    text-align: center;
    text-transform: uppercase;
    color: #76280D;
    margin-bottom: 30px;

    @media (max-width: 991px) {
      font-size: 45px;
      margin-bottom: 25px;
    }

    @media (max-width: 600px) {
      font-size: 37px;
      margin-bottom: 20px;
    }
  }

  &__content {
    display: grid;
    grid-template: auto / repeat(12, 1fr);
    align-items: center;
    gap: 40px;

    @media (max-width: 991px) {
      display: block;
    }
  }

  &__column {
    &:not(:last-child) {
      @media (max-width: 991px) {
        margin-bottom: 10px;
      }
    }

    &_one {
      grid-column: span 6;
    }

    &_two {
      grid-column: span 6;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #1B1B1B;

    @media (max-width: 991px) {
      font-size: 23px;
      line-height: 28px;
    }

    @media (max-width: 600px) {
      font-size: 19px;
      line-height: 23px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @media (max-width: 991px) {
        margin-bottom: 5px;
      }
    }
  }
}