.benefits {
  margin-bottom: 80px;

  @media (max-width: 600px) {
    margin-bottom: 70px;
  }

  &__title {
    font-family: 'lalezar';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 119.2%;
    color: #000;
    margin-bottom: 32px;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 36px;
    }

    @media (max-width: 600px) {
      font-size: 30px;
      margin-bottom: 24px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 600px) {
      display: block;
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 24px 16px;
    background-color: #76280D;
    border-radius: 5px;

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 69px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 24px;

    @media (max-width: 991px) {
      width: 42px;
      height: 41px;
    }

    @media (max-width: 600px) {}

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.3;
    color: #FFFFFF;
    text-align: center;

    &_color {
      color: #000;
      margin-bottom: 24px;
    }

    @media (max-width: 991px) {
      font-size: 21px;
    }

    @media (max-width: 600px) {
      font-size: 19px;
    }

    &_size {
      font-size: 16px;
      margin-top: 16px;
    }
  }
}


.info {
  margin-bottom: 80px;

  @media (max-width: 600px) {
    margin-bottom: 70px;
  }

  &__title {
    display: none;
  }

  &__content {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__texts {
    flex: 0 1 500px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }

  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #000;
  }

  &__image {
    flex: 0 1 500px;
    width: 100%;
    height: 500px;

    @media (max-width: 991px) {
      flex: none;
      height: 400px;
    }

    @media (max-width: 600px) {
      height: 300px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}




.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color:#76280D;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}