.terms {
  margin-bottom: 80px;
  padding-top: 80px;
  @media (max-width: 600px) {
    margin-bottom: 70px;
  }

  & h1 {
    font-family: 'lalezar';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 117.5%;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #9E4418;
    margin-bottom: 30px;

    @media (max-width: 991px) {
      font-size: 39px;
      margin-bottom: 20px;
    }

    @media (max-width: 600px) {
      font-size: 29px;
      margin-bottom: 15px;
    }
  }

  & h2 {
    font-family: 'lalezar';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 117.5%;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #9E4418;
    margin-bottom: 30px;

    @media (max-width: 991px) {
      font-size: 39px;
      margin-bottom: 20px;
    }

    @media (max-width: 600px) {
      font-size: 29px;
      margin-bottom: 15px;
    }
  }

  & p {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 104%;
    text-align: center;
    letter-spacing: -0.025em;
    color: #1F1F1F;

    @media (max-width: 991px) {
      font-size: 23px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 104%;
    text-align: center;
    letter-spacing: -0.025em;
    color: #1F1F1F;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}