@font-face {
  font-family: 'kellyslab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('KellySlab-Regular'),
       url("../../fonts/KellySlab-Regular.woff2") format("woff2"),
       url("../../fonts/KellySlab-Regular.woff") format("woff");
}

@font-face {
  font-family: 'lalezar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lalezar-Regular'),
       url("../../fonts/Lalezar-Regular.woff2") format("woff2"),
       url("../../fonts/Lalezar-Regular.woff") format("woff");
}