@font-face {
  font-family: 'alfaslabone';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('AlfaSlabOne-Regular'),
       url("../../fonts/AlfaSlabOne-Regular.woff2") format("woff2"),
       url("../../fonts/AlfaSlabOne-Regular.woff") format("woff");
}

@font-face {
  font-family: 'alata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alata-Regular'),
       url("../../fonts/Alata-Regular.woff2") format("woff2"),
       url("../../fonts/Alata-Regular.woff") format("woff");
}