@font-face {
  font-family: 'RacingSansOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/RacingSansOne-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'RadioCanada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/RadioCanada-Regular.woff2") format("woff2")
}